.loading {
  text-align: center;
  font-size: 18px;
  color: #007bff;
  margin: 20px;
}

.error {
  text-align: center;
  font-size: 18px;
  color: red;
  margin: 20px;
}

.mat-card {
  margin: 20px;
}

table {
  width: 100%;
}

.mat-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
}

.mat-cell {
  padding: 8px;
}

.mat-elevation-z8 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
