<div *ngIf="loading" class="loading">Carregando usuários...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<div class="container mt-5">
  <h2>Tabela de Usuários</h2>
  <button class="btn btn-primary"(click)="newUser()">Novo</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Login</th>
        <th>CPF</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.login }}</td>
        <td>{{ user.cpf }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editUser(user)">Editar</button>
          <button class="btn btn-danger btn-sm" (click)="deleteUser(user)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
